*{
    background-color: rgb(212, 212, 212);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    margin: 0;
}
li{
    display: inline;
    padding: 30px;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;   
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}